* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
}

html, body, #root {
  height: 100%;
}

body {
  background: #070B24;
  -webkit-font-smoothing: antialiased;
}

button, input {
  font-family: inherit;
}

button {
  font: inherit;
}